// Navigation Styles here
header{
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    nav{
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{  
            font-size: 1.35rem;
            text-decoration: none;
            color: black;
        }
        
    }
}
